.font-basic {
    font-family: "monospace";
    color: #ffffff;
    text-decoration:none;
}

h1 {
    font-size:55px;
    margin: 0px;
}

p {
    font-size:22px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom:5px;
}

a { color: #0ebeff; }

li { margin-left:1.2rem; }


body {
    line-height: 2;
    background-color: #1b243d;
}

img {
    width:20rem;
    border: solid 7px;
    border-color: #5a5f73;
    border-radius: 14px;
}  